* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primario:rgb(149, 211, 211);
  ---secundario: rgb(245, 193, 250);
  --terciario: rgb(219, 128, 231);
}
/* HEADER*/
header {
  /*background:linear-gradient(90deg, rgb(233, 195, 236) 30%, rgb(89, 212, 212));*/
  background-image: url(/img-portfolio/img-section.jpg);
  background-size: cover;
  position: fixed;
  min-width: 100%;
  background-color: aqua;
}
header ul {
  display: flex;
  justify-content: end;
  padding: 10px;
}
header ul li {
  list-style: none;
  margin: 10px;
  padding: 20px;
  margin: 10px;
}
header ul li a{
  color: white;
  text-decoration: none;
}
.contact {
  background-color: var(--terciario);
  border-radius: 50px;
  }
  .contact a{
  color: antiquewhite;
  text-decoration: none;

}
.section-principal {
  background-image: url(./img-portfolio/img-section.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(75, 24, 85);
  display: flex;
  justify-content: space-evenly;
  min-width: 100vh;
  height: 100vh;
  align-items: center;
}
.cont-presentación{
 
  padding: 50px;
  color: white;
}
#h3-presentación{
  font-size: 30px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 10em;
  animation: anim 6s infinite;
}
@keyframes anim {
  from {
    width: 0;
  }
}
span{
  font-size: 50px;
  color:var(--terciario); 
}
.section-principal p{
  font-size: 20px;
  margin-top: 10px;
}
button {
  margin-top: 30px;
  background-color: rgb(119, 70, 184);
  border-radius:  600px;
  padding: 20px;
  border: 1px;
  width: 150px;
  font-size: 15p;
font-size: 18px;
}
button a{
  color:aliceblue ;
  text-decoration: none;
}
.img-principal{
 width: 200px;
 height: 200px;
}
.img-principal img{
  width: 100%;
  opacity: 100%;
}
.section-conocimientos {
  background-color: rgb(248, 133, 133);
  min-width: 100vh;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content:center;
  align-items:center;
}
.conocimientos-1 {
  background-color: rgb(219, 166, 166);
  width: 500px;
}
.conocimientos-1 h2{
  padding: 20px;
  font-size: 30px;
}
.conocimientos-1 p{
 font-size: 20px;
}
/*.grid{
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content:space-around;
  margin-top: 30px;
  */
.grid{
  background-color: rgb(32, 207, 207);
  min-width: 60%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
}
/*.icons{
  background-color: aqua;
  background-image: url(/img-portfolio/img-section.jpg);
 /* background:linear-gradient(90deg, rgb(237, 209, 240) 30%, rgb(171, 240, 240));
  width: 230px;
  height: 230px;
  margin: 20px;
  border: 1px solid rgb(27, 25, 23);
  padding: 50px;
  border-radius: 10px;
  color: var(--primario);
}*/
.icons{
  background-color: blueviolet;
  background-image: url(./img-portfolio/img-section.jpg);
  width: 230px;
  height: 230px;
  display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 12px;

}

i{
  font-size: 80px;
  color: blueviolet;
  
}
/*.icons:hover{
background-color: rgb(174, 0, 255);
transform: scale(1.1);
}*/

h2{text-align: center;
}
h4 {
  color: bisque;
  text-align: center;
  margin-top: 20px;
}
.section-cita{
  background-image: url(./img-portfolio/img-section.jpg);
    background-color: rgb(216, 25, 206);
    padding: 10px;
    height: 300px;
}
blockquote{
text-align: center;
font-size: 20px;
padding: 20px;
color: azure;
}
#comillas{
  font-size: 100px;
  color: var(--terciario);
  display: flex;
  justify-content: center;
  color: rgb(86, 122, 122);
  
}
.section-cita p{
  font-size: 40px;
  padding: 30px;
  text-align: center;
  color: azure;
}

.section-proyectos{
  background-color: rgb(233, 133, 52);
  min-width: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 125px;
}
.section-proyectos1{
  background-color: brown;
  width: 500px;
}
.section-proyectos1 h2{
  padding: 20px;
  font-size: 30px;
}
.section-proyectos1 p{
  font-size: 20px;
}
/*.grid2{
  width: 60%;
  height: 100%;
  background-color: rgb(31, 133, 111);
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}*/
.grid2{
  background-color: blueviolet;
  min-width: 60%;
  min-height: 900px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
}
/*
.div-grid{
background-color: rgb(204, 54, 191);
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
*/
    .div-grid{
      background-color: rgb(72, 168, 168);
      width: 280px;
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      border-radius: 12px;
    }
    /*.div-grid:hover{
      background-color: rgb(174, 0, 255);
      transform: scale(1.1);
      }*/

.div-grid2{
  width: 240px;
  height: 230px;
  margin: 10px;
  border: 2px solid;
  display: flex;
  justify-content: center;
}
.imagen{
  width:100%;
}
.proyectos-nombre{
 align-items: center;
}

/*.div-grid2{
background-color: rgb(204, 54, 191);
width: 300px;
margin: 10px;
border: 2px solid;
}
.imagen{
  width: 200px;
  height: 200px;
} */

.section-form{
  background-color: aqua;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  height: 60vh;
  padding: 15px;
}
.div-form{
  width: 60%;
  background-color: lightcoral;
  display: flex;
  
  border-radius: 15px;
  border: 2px solid gray;
  justify-content: space-around;
}
.iconos-form{
  background-color: aquamarine;
  margin-top: 50px;
}
.div1-form{
  background-color: lightcyan;
width: 500px;
 
}
.div1-form h3{
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: left;

}
.iconos-contacto{
  display: flex;
  margin-top: 20px;
}
.iconos-contacto a{
  text-decoration: none;
  color: rgb(214, 181, 181);
}
#icono-contacto{
font-size: 20px;
width: 30px;
}

.div2-form{
  padding-top: 20px;
  margin-top: 30px;
  margin: 10px;
}
.nombre-apellido{
  background-color: aqua;
  display: flex;
justify-content: space-between;
  width: 400px;
  margin-top: 50px;
  height: 80px;
 
}
.nombre-apellido input{
margin-top: 20px;
}
label{
  height: 10pxs;
  padding: 20px;
  padding-top: 10px;
  margin-bottom: 15px;
align-items: center;
}
input{
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  padding: 5px;
}
#email{
  margin-top: 20px;
  border-radius: 10px;
}
#mensaje{
  margin-top: 20px;
  width: 450px;
  height: 200px;
  border-radius: 10px;
  border: none;
}
#mensaje1{
  margin-top: 20px;
}

footer{
    background-color: lightgreen;
    background-image: url(/img-portfolio/img-section.jpg);
    background-size: cover;
    background-position: end;
    padding: 50px;
    height: 350px;
}
.nav-footer{
  display: flex;
  justify-content: center;
}
.ul-footer{
  display: flex;
}
.ul-footer li{
  list-style: none;
  margin: 20px;
}
.ul-footer li a{
color: white;
text-decoration: none;
}
.logos{
  text-align: center;
}
#logos-footer{
  font-size: 20px;
  margin: 30px;
  margin-top: 30px;
  color: white;
}
.frase-footer{
  padding: 70px;
  text-align: center;
  color: white;
  font-size: 20px;
}