* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primario: rgb(149, 211, 211);
  ---secundario: rgb(245, 193, 250);
  --terciario: rgb(52, 176, 180);
}
body{
  font-family: sans-serif;
}
/* HEADER*/
header {
 /* background:linear-gradient(90deg, rgb(0, 0, 0) 30%, rgb(124, 39, 124), rgb(2, 0, 14));*/
  background-image: url(./img-portfolio/img-3.webp);
  background-size: cover;
  position: fixed;
  min-width: 100%;
  background-color: aqua;
  z-index: 3000;
}
header ul {
  display: flex;
  justify-content: end;
  padding: 10px;
}
header ul li {
  list-style: none;
  margin: 10px;
  padding: 20px;
  margin: 10px;
}
header ul li a {
  color: white;
  text-decoration: none;
}
.contacto {
  background-color: var(--terciario);
  border-radius: 50px;
}
.contacto a {
  color: antiquewhite;
  text-decoration: none;
}

/*@media screen and (max-width: 880px) {
  header {
    width: auto;
  }
}*/
@media screen and (max-width: 480px) {
  header{
    background:linear-gradient(90deg, rgb(0, 0, 0) 30%, rgb(124, 39, 124), rgb(2, 0, 14)); 
  }
  .ul-header li{
    font-size: 10px;
   padding: 5px;
   margin: 5px;
   display: flex;
   align-items: center;
  }
  }
  

/*FIN HEADER*/

/*INICIO SECCION PRINCIPAL*/
.seccion-principal {
  background-image: url(./img-portfolio/img-3.webp);
  background-color: rgb(75, 24, 85);
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  align-items: center;
  min-width: 100%;
  
}
.cont-presentacion {
  padding: 50px;
  color: white;
  }
  .cont-presentacion *{
    margin-bottom: 30px;
  }
.cont-presentacion h1{
  font-size: 30px;
}
.cont-presentacion p{
  font-size: 50px;
}
  
#h3-presentacion {
  font-size: 45px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 10em;
  color: rgb(243, 250, 249);
}
#h3-presentacion span{
color: aquamarine;
}

.span{
  font-size: 70px;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 5px 5px 5px rgb(9, 184, 154);
  
}
.seccion-principal p {
  font-size: 20px;
  margin-top: 10px;
}
button {
  margin-top: 30px;
  background-color: rgb(119, 70, 184);
  border-radius: 600px;
  padding: 20px;
  border: 1px;
  width: 150px;
  font-size: 15p;
  font-size: 18px;
}
button a {
  color: aliceblue;
  text-decoration: none;
}
.img-principal {
  width: 200px;
  height: 200px;
}
.img-principal img {
  width: 100%;
  border-radius: 50%;
  opacity: 80%;
}

@media screen and (max-width: 880px) {
  .seccion-principal {
    flex-direction: column;
  }
  }
  @media screen and (max-width: 480px) {
    .seccion-principal{
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }
    .span{font-size: 45px;
      width: 100%;
    }
  .cont-presentacion{
    width: 70%;
    margin: 30px;
    margin-top: 20px;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 30px;
    }
    .cont-presentacion *{
      margin-bottom: 30px;
    }
  .cont-presentacion h1{
font-size: 20px;
width: 100%;
  }
  #h3-presentacion{
font-size: 20px;
text-align: center;
  }
  button{
    padding: 10px;
  }
  }

/*FINAL SECCION PRINCIPAL*/

/*INICIO SECCION CONOCIMIENTOS*/
.seccion-conocimientos {
  background-color: rgb(248, 133, 133);
  min-width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.conocimientos-1 {
  background-color: rgb(219, 166, 166);
  width: 500px;
}
.conocimientos-1 h2 {
  padding: 20px;
  font-size: 30px;
}
.conocimientos-1 p {
  font-size: 20px;
}
.grid {
  background-color: rgb(207, 108, 199);
  gap: 1em;
  min-height: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  padding: 1em;
}
/*prueba responsive seccion conocimientos*/
@media screen and (max-width: 880px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 70px;
    min-width: none;
    min-height: none;
  }
}
@media screen and (max-width: 480px) {
  .conocimientos-1 {
    width: 100%;
  }
  .grid{
    grid-template-columns: 1fr;
  }
}
.iconos {
  background-color: blueviolet;
  background-image: url(./img-portfolio/img-3.webp);
  background-size: auto;
  background-position: end;
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 12px;
}

i {
  font-size: 80px;
  color:rgb(6, 214, 179) ;
  
}
.iconos:hover{
background-color: rgb(74, 18, 100);
transform: scale(1.1);
}

h2 {
  text-align: center;
}
h4 {
  color: rgb(28, 235, 166);
  text-align: center;
  margin-top: 20px;
}
/*FINAL SECCION CONOCIMIENTOS*/

/*INICO SECCION CITA*/
.seccion-cita {
  background-image: url(./img-portfolio/img-3.webp);
  background-color: rgb(216, 25, 206);
  background-size: cover;
  padding: 10px;
  min-width: 100%;
}
blockquote {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  color: rgb(246, 255, 255);
}
#comillas {
  font-size: 100px;
  color: rgb(9, 184, 154);
  display: flex;
  justify-content: center;
}
.seccion-cita p {
  font-size: 40px;
  padding: 30px;
  text-align: center;
  color: rgb(43, 206, 179);
}
/*FINAL SECCION CITA*/

/*INICIO SECCION PROYECTOS*/
.seccion-proyectos {
  background-color: rgb(219, 108, 108);
  min-width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 100px;
}
.seccion-proyectos1 {
  background-color: brown;
  width: 500px;
}

.seccion-proyectos1 h2 {
  padding: 20px;
  font-size: 30px;
}
.seccion-proyectos1 p {
  font-size: 20px;
}
.grid2 {
  background-color: rgb(185, 149, 221);
  min-height: 800px;
  width: 800px;
  gap: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
}
.div-grid {
  background-color: rgb(245, 115, 115);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 12px;
  padding-top: 10px;
}
/*Prueba hover*/
.div-grid:hover {
  background-color: rgb(252, 251, 253);
  transform: scale(1.1);
 box-shadow: 0px 20px 25px -10px rgba(127, 77, 221, 0.5);
}

/*Prueba responsive sección pryectos*/
@media screen and (max-width: 880px) {
  .grid2 {
    grid-template-columns: repeat(2, 1fr);
}
.div-grid{
  width: 200px;
}
}
@media screen and (max-width: 480px) {
  .seccion-proyectos1{
    width: 200px;
  }
  .grid2{
    grid-template-columns: 1fr;
    width: 400px;
  }
}

.div-grid2 {
  width: 100%;
  margin: 10px;
  height: auto;
  border: 2px;
  display: flex;
  justify-content: center;
}
.imagen {
  width: 100%;
}
.proyectos-nombre {
  align-items: center;
}
/*FINAL SECCION PROYECTOS*/

/*INICIO SECCION FORMULARIO*/
.seccion-formulario {
  background-color: rgb(108, 216, 216);
  min-width: 100%;
  display: flex;
  justify-content: center;
  min-height: 60vh;
}
.div-form {
  min-width: 60%;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: 120px;
  border-radius: 10px;
  border: 2px solid rgb(249, 246, 250);
  box-shadow:0px 20px 25px -10px rgba(127, 77, 221, 0.5) ;
 justify-content: space-evenly;
}
.iconos-form {
  background-color: rgb(249, 252, 251);
  margin-top: 50px;
}
.div1-form {
  background-color: rgb(189, 108, 108);
  max-width: 400px;
  height: 45vh;
  border-radius: 10px;
}
.div1-form h3 {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: left;
}
.iconos-contacto {
  display: flex;
  margin-top: 20px;
}
.iconos-contacto a {
  text-decoration: none;
  color: rgb(214, 181, 181);
}
#icono-contacto {
  font-size: 20px;
  width: 30px;
}

.div2-form {
  background-color: rgb(59, 59, 110);
  padding-top: 20px;
  margin-top: 30px;
  margin: 10px;
}
.nombre-apellido {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-top: 50px;
  min-height: 80px;
}
.nombre-apellido input {
  margin-top: 20px;
}
label {
  height: 10px;
  padding: 20px;
  padding-top: 10px;
  margin-bottom: 15px;
  align-items: center;
}
input {
  margin-bottom: 15px;
  border-radius: 10px;
  border-color: rgb(172, 127, 255);
  padding: 5px;
  box-shadow:0px 20px 25px -10px rgba(127, 77, 221, 0.5) ;
}
#email {
  margin-top: 20px;
  border-radius: 10px;
}
#mensaje {
  margin-top: 20px;
  width: 450px;
  height: 200px;
  border-radius: 10px;
  border: none;
}
#mensaje1 {
  margin-top: 20px;
}
@media screen and (max-width: 880px) {
  .div-form {
    flex-direction: column;
  }
  .nombre-apellido {
    flex-direction: column;
  }
  #mensaje {
    width: 250px;
  }
  .div1-form{
    margin: 60px;
    height: 500px;
  }
  .div1-form h3{
    margin-left: 140px;
  }
  .div1-form p{
    margin: 10px;
  }
  .iconos-form{
    margin: 30px;
  }
  .div2-form{
    margin: 60px;
  }
  .div2-form h3{
    margin-left: 140px;
  }
  }
  
  @media screen and (max-width: 480px){
    .div1-form h3{
      margin-left: 70px;
    }
    .div-form{
      min-width: 90%;
    }
   #icono-contacto{
    margin-top: 10px;
   }
  
  .div1-form{
    height: 500px;
  }
  .div2-form h3{
    margin-left: 70px;
  }
}
/*FINAL SECCION FORMULARIO*/

/*INICIO FOOTER*/
footer {
  background-color: lightgreen;
  background-image: url(./img-portfolio/img-3.webp);
  background-size: cover;
  padding: 50px;
  height: 350px;
  min-width: 100%;
}
.nav-footer {
  display: flex;
  justify-content: center;
}
.ul-footer {
  display: flex;
}
.ul-footer li {
  list-style: none;
  margin: 20px;
}
.ul-footer li a {
  color: white;
  text-decoration: none;
}
.logos {
  text-align: center;
}
#logos-footer {
  font-size: 20px;
  margin: 30px;
  margin-top: 30px;
  color: white;
}
.frase-footer {
  padding: 70px;
  text-align: center;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 480px){
  .nav-footer{
    width: 100%;
  }
  .ul-footer{
    width: auto;
    font-size: 12px;
  }
  
}
/*FINAL FOOTER*/
