* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primario: rgb(149, 211, 211);
  ---secundario: rgb(245, 193, 250);
  --terciario: rgb(52, 176, 180);
}
body {
  font-family: sans-serif;
}
/* HEADER*/
header {
  /* background:linear-gradient(90deg, rgb(0, 0, 0) 30%, rgb(124, 39, 124), rgb(2, 0, 14));*/
  background-image: url(./img-portfolio/img-3.webp);
  background-size: cover;
  position: fixed;
  min-width: 100%;
  background-color: aqua;
  z-index: 3000;
}

header ul {
  display: flex;
  justify-content: end;
  padding: 10px;
}
header ul li {
  list-style: none;
  margin: 10px;
  padding: 20px;
  margin: 10px;
}
header ul li a {
  color: white;
  text-decoration: none;
}
.contacto {
  background-color: rgb(43, 206, 179);
  border-radius: 50px;
}
.contacto a {
  color: antiquewhite;
  text-decoration: none;
}
/*Responsive Design Header*/

@media screen and (max-width: 880px) {
  header {
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 30%,
      rgb(124, 39, 124),
      rgb(2, 0, 14)
    );
  }
  .ul-header li {
    font-size: 12px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  header {
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 30%,
      rgb(124, 39, 124),
      rgb(2, 0, 14));
    
    position: absolute;
  
  }
  .nav-header{
    max-width: 300px;
    margin-left: 5px;
  }
  .ul-header{
    justify-content: center; 
  }
  .ul-header li {
    font-size: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
  }
}

/*FIN HEADER*/

/*INICIO SECCION PRINCIPAL*/
.seccion-principal {
  background-image: url(./img-portfolio/img-3.webp);
  background-color: rgb(75, 24, 85);
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  align-items: center;
  min-width: 100%;
}
.cont-presentacion {
  padding: 50px;
  color: white;
}
.cont-presentacion * {
  margin-bottom: 30px;
}
.cont-presentacion h1 {
  font-size: 30px;
}
.cont-presentacion p {
  font-size: 50px;
}

#h3-presentacion {
  font-size: 45px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 10em;
  color: white;
}
#h3-presentacion span {
  color: aquamarine;
}

.span {
  font-size: 70px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 5px 5px 5px rgb(9, 184, 154);
}
.seccion-principal p {
  font-size: 20px;
  margin-top: 10px;
}
button {
  margin-top: 30px;
  background-color: rgb(43, 206, 179);
  border-radius: 600px;
  padding: 20px;
  border: 1px;
  width: 150px;
  font-size: 15p;
  font-size: 18px;
}
button a {
  color: aliceblue;
  text-decoration: none;
}
.img-principal {
  width: 200px;
  height: 200px;
}
.img-principal img {
  width: 100%;
  border-radius: 50%;
  opacity: 80%;
}

/*Responsive Design sección principal*/
@media screen and (max-width: 880px) {
  .seccion-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cont-presentacion {
    width: 80%;
    text-align: center;
  }
  #h3-presentacion {
    font-size: 40px;
    text-align: center;
    margin-left: 60px;
  }
}
@media screen and (max-width: 480px) {
  .seccion-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .span {
    font-size: 40px;
    width: 100%;
  }
  .cont-presentacion {
    width: 300px;
    margin-top: 20px;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 30px;
  }
  .cont-presentacion * {
    margin-bottom: 30px;
  }
  .cont-presentacion h1 {
    font-size: 20px;
    width: 100%;
  }
  #h3-presentacion {
    font-size: 20px;
    text-align: center;
    margin-left: 0px;
  }
  button {
    padding: 10px;
  }
}

/*FINAL SECCION PRINCIPAL*/

/*INICIO SECCION CONOCIMIENTOS*/
.seccion-conocimientos {
  background-color: black;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.conocimientos-1 {
  background-color: black;
  width: 500px;
  color: white;
}
.conocimientos-1 h2 {
  padding: 20px;
  font-size: 30px;
  color: rgb(136, 92, 194);
}
.conocimientos-1 p {
  font-size: 20px;
}
.grid {
  background-color: black;
  gap: 1em;
  min-height: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  padding: 1em;
}

.iconos {
  background-color: white;
  background-image: url(./img-portfolio/img-3.webp);
  background-position: end;
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 12px;
}

i {
  font-size: 80px;
  color: rgb(6, 214, 179);
}
.iconos:hover {
  transform: scale(1.1);
  box-shadow: 0px 20px 25px -10px rgba(63, 232, 238, 0.5);
}

h2 {
  text-align: center;
}
h4 {
  color: rgb(28, 235, 166);
  text-align: center;
  margin-top: 20px;
}

/*Responsive Design sección conocimientos*/

@media screen and (max-width: 880px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    min-width: none;
    min-height: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .seccion-conocimientos{
    padding: 20px;
  }
  .conocimientos-1 {
    width: 300px;
    padding: 10px;
  }
  .grid {
    grid-template-columns: 1fr;
    width: 300px;
  }
  .iconos{
    width: 150px;
    height: 150px;
  }
}
/*FINAL SECCION CONOCIMIENTOS*/

/*INICO SECCION CITA*/
.seccion-cita {
  background-image: url(./img-portfolio/img-prueba2.jpg);
  background-color: black;
  background-size: cover;
  padding: 10px;
}
blockquote {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  color: rgb(246, 255, 255);
}
#comillas {
  font-size: 100px;
  color: rgb(9, 184, 154);
  display: flex;
  justify-content: center;
}
.seccion-cita p {
  font-size: 40px;
  padding: 30px;
  text-align: center;
  color: rgb(43, 206, 179);
}
/*Responsive Design sección cita*/
@media screen and (max-width: 880px) {
  blockquote {
    width: 80%;
    margin: 70px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  blockquote {
    color: rgb(43, 206, 179);
    margin-right: 10px;
    text-align: center;
  }
  .seccion-cita p{
    margin-right: 0px;
    margin: none;
    width: 200px;
    font-size: 20px;
    text-align: center;
  }
}
/*FINAL SECCION CITA*/

/*INICIO SECCION PROYECTOS*/
.seccion-proyectos {
  background-color: black;
  min-width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 100px;
}
.seccion-proyectos1 {
  background-color: black;
  width: 500px;
  color: white;
}

.seccion-proyectos1 h2 {
  padding: 20px;
  font-size: 30px;
  color: rgb(136, 92, 194);
}
.seccion-proyectos1 p {
  font-size: 20px;
}
.grid2 {
  background-color: black;
  min-height: 800px;
  width: 800px;
  gap: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
}
.div-grid {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 12px;
  padding-top: 10px;
}
/*Prueba hover*/
.div-grid:hover {
  background-color: rgb(252, 251, 253);
  transform: scale(1.1);
  box-shadow: 0px 20px 25px -10px rgba(63, 232, 238, 0.5);
}

.div-grid2 {
  width: 100%;
  margin: 10px;
  height: auto;
  border: 2px;
  display: flex;
  justify-content: center;
}
.imagen {
  width: 100%;
}
.proyectos-nombre {
  align-items: center;
}

/*Responsive Design sección proyectos*/
@media screen and (max-width: 880px) {
  .grid2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .div-grid {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .seccion-proyectos1 {
    width: 200px;
  }
  .grid2 {
    grid-template-columns: 1fr;
    width: 300px;
  }
}
/*FINAL SECCION PROYECTOS*/

/*INICIO SECCION FORMULARIO*/
.seccion-formulario {
  background-color: black;
  min-width: 100%;
  display: flex;
  justify-content: center;
  min-height: 60vh;
}
.div-form {
  min-width: 60%;
  background-color: black;
  display: flex;
  margin: 120px;
  border-radius: 10px;
  border: 1px solid rgb(203, 167, 245);
  box-shadow: 0px 20px 25px -10px rgba(127, 77, 221, 0.5);
  justify-content: space-evenly;
}
.iconos-form {
  background-color: black;
  margin-top: 50px;
}
.div1-form {
  background-color: black;
  max-width: 400px;
  height: 45vh;
  border-radius: 10px;
  color: white;
}
.div1-form h3 {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: left;
  text-shadow: 15px 15px 15px rgb(180, 124, 252);
}
.iconos-contacto {
  display: flex;
  margin-top: 20px;
}
.iconos-contacto a {
  text-decoration: none;
  color: white;
}
.iconos-contacto i {
  color: rgb(65, 182, 172);
}
#icono-contacto {
  font-size: 20px;
  width: 30px;
}

.div2-form {
  background-color: black;
  padding-top: 20px;
  margin-top: 30px;
  margin: 10px;
}
.div2-form h3 {
  color: white;
  text-shadow: 15px 15px 15px rgb(180, 124, 252);
}
.nombre-apellido {
  background-color: black;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-top: 50px;
  min-height: 80px;
}
.nombre-apellido input {
  margin-top: 20px;
}
label {
  height: 10px;
  padding: 20px;
  padding-top: 10px;
  margin-bottom: 15px;
  align-items: center;
  color: white;
}
::placeholder {
  color: white;
}
input {
  margin-bottom: 15px;
  border-radius: 10px;
  border-color: rgb(172, 127, 255);
  padding: 5px;
  box-shadow: 0px 20px 25px -10px rgba(127, 77, 221, 0.5);
  background-image: url(./img-portfolio/img-3.webp);
  background-size: cover;
}
#email {
  margin-top: 20px;
  border-radius: 10px;
  background-image: url(./img-portfolio/img-3.webp);
  background-size: cover;
}
#mensaje {
  margin-top: 20px;
  width: 450px;
  height: 200px;
  border-radius: 10px;
  border-color: rgb(172, 127, 255);
  box-shadow: 0px 20px 25px -10px rgba(127, 77, 221, 0.5);
  background-image: url(./img-portfolio/img-3.webp);
  background-size: cover;
}
#mensaje1 {
  margin-top: 20px;
}
#button-form {
  color: white;
  background-color: black;
  font-size: 15px;
  width: 80px;
}
#button-form:hover {
  cursor: pointer;
  background-color: rgb(71, 13, 126);
  transform: scale(1.1);
}
/*Responsive Design Formulario*/
@media screen and (max-width: 880px) {
  .div-form {
    flex-direction: column;
  }
  .nombre-apellido {
    flex-direction: column;
  }
  #mensaje {
    width: 250px;
  }
  .div1-form {
    margin: 60px;
    height: 300px;
  }
  .div1-form h3 {
    text-align: left;
  }
  .div1-form p {
    margin: 10px;
  }
  .iconos-form {
    margin: 30px;
  }
  .div2-form {
    margin: 60px;
  }
  .div2-form h3 {
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .div-form {
    min-width: 90%;
  }
  #icono-contacto {
    margin-top: 10px;
  }
  .iconos-contacto {
    margin-left: 50px;
  }
  .div1-form {
    height: 400px;
  }
  .div1-form h3 {
    text-align: center;
  }
  .div1-form p {
    text-align: center;
  }
  .div2-form {
    text-align: center;
  }
  .div2-form h3 {
    text-align: center;
  }
}
/*FINAL SECCION FORMULARIO*/

/*INICIO FOOTER*/
footer {
  background-color: lightgreen;
  background-image: url(./img-portfolio/img-3.webp);
  background-size: cover;
  padding: 50px;
  height: 350px;
  min-width: 100%;
}
.nav-footer {
  display: flex;
  justify-content: center;
}
.ul-footer {
  display: flex;
}
.ul-footer li {
  list-style: none;
  margin: 20px;
}
.ul-footer li a {
  color: white;
  text-decoration: none;
}
.logos {
  text-align: center;
}
#logos-footer {
  font-size: 20px;
  margin: 30px;
  margin-top: 30px;
  color: white;
}
.frase-footer {
  padding-top: 60px;
  text-align: center;
  color: white;
  font-size: 20px;
}
/*Responsive Design Footer*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-footer {
    width: 150px;
  }
  .ul-footer {
    width: 50px;
    display: flex;
  }
  .ul-footer li{
    margin: 5px;
    width: auto;
    font-size: 12px;
    text-align: center;
  }
  .logos a{
    font-size: 10px;
  }
  .frase-footer{
    font-size: 15px;
  
  }
}
/*FINAL FOOTER*/
